/*Estilo de toda a pagina principal*/

.navbar { /*Organizacao para todos os icones do menu*/
    display: flex;
    justify-content: space-between;
    margin: 10px;
    background-color: #648a64;
}
.icons { /*Organizacao do espacamento entre as categorias*/
    display: flex;
    gap: 100px;
    color: #213435;
    font-weight: 10;
    justify-content: center;
    align-items: center;
}
.icons a { /*Estilizacao dos links*/
    position: relative;
    text-decoration: none;
    cursor: pointer;
}
.icons a::before { /*Sublinhado das categorias*/
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
}
.icons a:hover::before { /*Animacao do sublinhado*/
    transform: scaleX(1);
}
.SearchListProfile { /*Organizacao do espacamento entre os botoes de pesquisa,lista e perfil*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.Catalogos img { /*Ajuste no tamanho das imagens para ficar no feed*/
    width: 150px;
    height: auto;
}
.mainheader {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.BigImage img {
    justify-content: center;
    align-items: center;
    width: 200px;
}